html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family:'Trebuchet MS';
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  background: repeating-linear-gradient(
  0deg,
  white,
  white 50px,
  #BFDBF7 50px,
  #BFDBF7 100px
);
}

div.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.nametag {
  background-color: white;
  border: 1px black solid;
  width: 60%;
  max-width: 465px;
  border-radius: 30px;
  text-align: center;
}

div.nametag-top {
  background-color: #A31621;
  color: white;
  padding: 25px 15px;
  border-radius: 30px 30px 0 0;
}

div.nametag-middle {
  padding: 25px 15px;
}

div.nametag-middle > span.name {
  font-size: 4rem;
}

div.nametag-middle-bottom {
  background-color: #A31621;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.nametag-bottom {
  background-color: #A31621;
  color: white;
  padding: 15px;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.nametag-bottom > button.generate {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
} 

div.nametag-middle-bottom > button.generate {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
} 

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: #262626;
  text-align: right;
}

footer > a {
  color: white;
}